{% extends 'base.html' %} 
{% block content %}
    
          <!-- 게시글이 들어갈 곳 -->
          <div class="container">
               
                    <div class="card mt-5" >
                        <div class="card-body">
                        <h5 class="card-title"> {{ blog.title }} </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ blog.pub_date }}</h6>
                        <p class="card-text">{{ blog.body }}</p>
                        <a href="{% url 'home' %}" class="card-link">Back</a>
                        </div>
                    </div>
              
            
    
          </div>
    
{% endblock %}