{% extends 'base.html' %} 
{% block content %}
    
          <!-- 게시글이 들어갈 곳 -->
          <div class="container">

            <h1> New post</h1>
            <form action="create">
                <p>title : </p>
                <input type="text" name="title">
                <p>content : </p>
                <textarea name="body" id="" cols="30" rows="10"></textarea><br>
                <input type="submit" value="upload" class="btn btn-primary">


            </form>


</div>
{% endblock %}